.form {
    min-height: 200px;
}

.form__header {
    text-align: center;
    text-shadow: 3px -3px 5px rgb(241, 211, 12);
}

.form__labelText {
    width: 150px;
    display: inline-block;
    margin-left: 20px;
    text-shadow: 3px -3px 5px rgb(241, 211, 12);
}

.form__field {
    width: 200px;
}

.form__result {
    text-align: center;
}